[submodule "lib/ethgild"]
	path = lib/ethgild
	url = https://github.com/gildlab/ethgild
[submodule "lib/rain.extrospection"]
	path = lib/rain.extrospection
	url = https://github.com/rainlanguage/rain.extrospection
